<!doctype html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <meta name="theme-color" content="#000000" />

    <title>My CRUD</title>

    {# Cargamos la librería #}
    {% load bootstrap4 %}

    {# CSS Bootstrap #}
    {% bootstrap_css %}

    {# Widget Tweaks #}
    {% load widget_tweaks %}

    {# Archivos #}
    {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'css/estilos.css' %}">

</head>

<body>

    <main role="main">

        <div class="container-fluid text-center mt-5">

            <div class="row mb-4">
                <div class="col-md-12">
                    <h1 style="font-size: 28px;">My CRUD
                    </h1>
                </div>
            </div>

            <div class="row mb-5">

                <!-- Barra lateral -->
                <div class="card col-md-1">
                    <h6 class="mt-4"><strong>Tables</strong></h6>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"> <a href="/restaurant">Restaurant </a>
                        </li>
                        <li class="list-group-item"> <a href="/segment">Segment</a></li>
                        <li class="list-group-item active"> <a href="/restaurant_segment_association"
                                style="color:#ffffff">Restaurant Segment
                                Association</a> </li>
                    </ul>
                </div>

                <div class="col-md-10">

                    <div class="table-responsive">

                        <nav aria-label="breadcrumb mb-3">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="../">Restaurant Segment Association</a></li>
                                <li class="breadcrumb-item"><a href="#">Edit</a></li>
                                <li class="breadcrumb-item active" aria-current="page">current_association</a></li>
                            </ol>
                        </nav>

                        <div class="formulario" align="left">

                            <h4>Edit</h4>

                            <form method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <!-- {{ form.as_p }} -->
                                <div class="form-group">
                                    <label for="restaurantuid" class="txt_negrita">restaurantUID</label>
                                    {{ form.restaurantuid|add_class:"form-control" }}
                                </div>
                                <div class="form-group">
                                    <label for="segmentuid" class="txt_negrita">segmentUID</label>
                                    {{ form.segmentuid|add_class:"form-control" }}
                                </div>
                                <button type="submit" class="btn btn-primary">Update</button>
                                <a href="../" type="submit" class="btn btn-primary">Back</a>
                            </form>

                        </div>

                    </div>

                </div>

            </div>

            <hr>

        </div>

    </main>

    {# JS y jQuery Bootstrap #}
    {% bootstrap_javascript jquery='full' %}

    <!-- <script type="text/javascript">
        $('.form-group').html(function (i, t) {
          return t.replace('Actualmente:', '<span class="ocultar">Actualmente:</span>');
        });

         $('.form-group').html(function (i, t) {
          return t.replace('Currently:', '<span class="ocultar">Currently:</span>');
        });
      </script>      -->

</body>

</html>